
main  {
  margin-left: 5vw;
  margin-right: 5vw
}

header  {
  height: 5vh;
  background-color: #271033;
}

#home-icon  {
  color: white;
}

.form-header  {
  width: 100%;
  background-color: #FA8334;
  text-align: center;
}

.form-footer  {
  width: 100%;
  background-color: #FA8334;
}

.jumbotron  {
  background-image: url('../img/bokeh.png');
  height: 40vh;
  width: 100vw;
  background-size: cover;
  margin-bottom: 1em;
}

.jumbo-header {
  color: white;
  border: 2px solid white;
  padding: 2px;
}

.content-box  {
  height: 40vh;
  width: 50vw;
}

.color-box-1  {
  height: 40vh;
  background-color: #388697;
  width: 50vw;
}

.color-box-2  {
  height: 40vh;
  background-color: #271033;
  width: 50vw;
}

.form-card  {
  width: 30vw;
}

.container  {
  margin-left: 10vw;
  margin-right: 10vw;
}

.login  {
  margin-top: 1em;
}

#login-btn  {
  color: white;
  background-color: #271033;
}

/*shop page*/

.flower-header  {
  color: white;
  width: 100%;
  background-color: #388697;
  text-align: center;
}

.flower-footer  {
  color: white;
  width: 100%;
  background-color: #388697;
}

.flower-card  {
  width: 20vw;
}

.inventory-text {
  text-transform:capitalize;
}

.highlighted {
  background-color: #FFFD77;
}

#flower-amt {
  width: 3em;
}

#add-btn  {
  color: white;
  background-color: #271033
}

.inventory-container  {
  float: left;
}

.inventory-header {
  margin-bottom: 2em;
}

.shopping-cart  {
    border: 2px solid black;
    margin-left: 5vw;
    height: 100%
}

.shopping-cart table  {
  width: 30vw
}

#subtotal {
  font-weight: bold;
  text-align: center
}
#total {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

th  {
  text-align: left
}

table {
  width: 50vw
}

#center {
  text-align: center;
}
