<div class="jumbotron" layout="column" layout-align="center center">
  <h1 class="jumbo-header" >doppel</h1>
</div>
<div layout="row" layout-align="center center">
  <md-button id="login-btn" ng-click="$ctrl.toggleForm()"> Create New User </md-button>
  <a ui-sref="wholesaler"> <md-button id="login-btn"> Create New WholeSaler </md-button></a>
</div>


<div class="login" ng-show="$ctrl.isVisible" layout="row" layout-align="center center">
  <md-card class="form-card" layout="column" layout-align="center center">
    <md-card-header class="form-header" layout-padding>
      <md-card-header-text>
        <div class="md-title">New User</div>
      </md-card-header-text>
    </md-card-header>

    <form name="newUser" ng-submit="$ctrl.submitNewUser($event)" method="post" layout-padding>
      <div class="" flex="50">
        <label for="">Email</label>
        <input type="email" name="email" value="" ng-model="$ctrl.user.email" md-autofocus>
      </div>
      <div class="" flex="50">
        <label for="">Password</label>
        <input type="text" name="password" ng-model="$ctrl.user.password">
      </div>
      <div class="" flex="50">
        <label for="">Confirm Password</label>
        <input type="text" name="confirm password" ng-model="$ctrl.user.confirmPassword">
      </div>
      <div layout="row" layout-align="center center">
        <!-- <a ui-sref="admin">  -->
          <md-button ng-disabled="" type="submit" id="submit-btn"> Submit </md-button>
        <!-- </a> -->
      </div>
    </form>

    <md-card-footer class="form-footer" layout-padding>
    </md-card-footer>
  </md-card>
</div>
