<div class="jumbotron" layout="column" layout-align="center center">
  <h1 class="jumbo-header" >doppel</h1>
</div>
<div class="" layout="row" layout-align="center center">
  <md-button id="login-btn" ng-click="$ctrl.toggleLogin()"> Login </md-button>
</div>

<div class="login" ng-show="$ctrl.isVisible" layout="row" layout-align="center center">
  <md-card class="form-card" layout="column" layout-align="center center">
    <md-card-header class="form-header" layout-padding>
      <md-card-header-text>
        <div class="md-title">Login</div>
      </md-card-header-text>
    </md-card-header>

    <form name="loginForm" ng-submit="$ctrl.submitLogin($event)" method="post" layout-padding>
      <div class="" flex="50">
        <label for="">Email</label>
        <input type="email" name="email" value="" ng-model="$ctrl.login.email" md-autofocus>
      </div>
      <div class="" flex="50">
        <label for="">Password</label>
        <input type="text" name="password" ng-model="$ctrl.login.password">
      </div>
      <div layout="row" layout-align="center center">
        <a ui-sref="admin"> <md-button ng-disabled="" type="submit" id="submit-btn"> Submit </md-button></a>
      </div>
    </form>

    <md-card-footer class="form-footer" layout-padding>
    </md-card-footer>
  </md-card>
</div>


<div class="container" layout="row" layout-align="center center">
  <md-card class="content-box" flex="50" layout-padding>
    <p>Lanyard gabion clipper Shiver me timbers belaying pin capstan bounty crimp spanker pirate.
      Gabion hearties measured fer yer chains rum walk the plank long boat rigging lookout Cat o'nine tails boom.
      Nelsons folly lass heave to hogshead lugsail crow's nest spyglass starboard parley hearties.</p>
  </md-card>
  <md-card class="color-box-1" flex="50">
  </md-card>
</div>
<div class="container" layout="row" layout-align="center center">
  <md-card class="color-box-2" flex="50">
  </md-card>
  <md-card class="content-box" flex="50" layout-padding>
    <p>Lanyard gabion clipper Shiver me timbers belaying pin capstan bounty crimp spanker pirate.
      Gabion hearties measured fer yer chains rum walk the plank long boat rigging lookout Cat o'nine tails boom.
      Nelsons folly lass heave to hogshead lugsail crow's nest spyglass starboard parley hearties.</p>
  </md-card>
</div>
