
<div class="" layout="row" layout-align="center center">
  <md-button id="login-btn" ng-click="$ctrl.toggleLogin()"> Login </md-button>
</div>

<div class="login" ng-show="$ctrl.isVisible" layout="row" layout-align="center center">
  <md-card class="form-card" layout="column" layout-align="center center">
    <md-card-header class="form-header" layout-padding>
      <md-card-header-text>
        <div class="md-title">Login</div>
      </md-card-header-text>
    </md-card-header>

    <form name="loginForm" ng-submit="$ctrl.submitLogin($event)" method="post" layout-padding>
      <div class="" flex="50">
        <label for="">Email</label>
        <input type="email" name="email" value="" ng-model="$ctrl.login.email" md-autofocus>
      </div>
      <div class="" flex="50">
        <label for="">Password</label>
        <input type="password" name="password" ng-model="$ctrl.login.password">
      </div>
      <div layout="row" layout-align="center center">
        <!-- <a ui-sref="admin">  -->
          <md-button ng-disabled="" type="submit" id="submit-btn"> Submit </md-button>
        <!-- </a> -->
      </div>
    </form>

    <md-card-footer class="form-footer" layout-padding>
    </md-card-footer>
  </md-card>
</div>


<div class="container" layout="row" layout-align="center center">
  <md-card class="content-box" flex="50" layout-padding>
    <p>Doppel is a webapp that allows florists to access wholesaler inventory
    and create project specific "shopping lists"</p>
  </md-card>
  <md-card class="color-box-1" flex="50">
  </md-card>
</div>
<div class="container" layout="row" layout-align="center center">
  <md-card class="color-box-2" flex="50">
  </md-card>
  <md-card class="content-box" flex="50" layout-padding>
    <p>Once you have created your shopping list you can export a csv to send
    to your wholesaler so they can pull your product. You can also export
    a csv that includes your markup and labor for your personal records</p>
  </md-card>
</div>
