<div class="container">

  <div class="inventory-header" layout="column" layout-align="center center">
    <h1>Make your shopping list!</h1>
    <label for="search">Filter by Search Term</label>
    <input ng-model="SearchText" type="text" name="search" value="">
  </div>

<div layout="row">


  <div class="inventory-container" layout="row" layout-direction="center center">
      <table>
        <tr>
          <th id="item">Item Name</th>
          <th>Color</th>
          <th>Price</th>
          <th>Sold As</th>
          <th>Amount</th>
        </tr>
        <tr ng-repeat="inventory in $ctrl.inventory | filter:SearchText" ng-class="{highlighted: hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
          <td class="inventory-text" name="name">{{inventory.name}}</td>
          <td class="inventory-text" name="color">{{inventory.color}}</td>
          <td name="price">{{inventory.price | currency}}</td>
          <td id="center">{{inventory.soldAs}}</td>
          <td id="center"><input id="flower-amt" type="number" name="amount" ng-model="amount" ></td>
          <td><md-button id="add-btn" ng-click="$ctrl.add(amount, inventory)">Add Item</md-button></td>
        </tr>
      </table>
  </div>

<div class="shopping-cart" layout="column">
<div>
  <table flex="30">
    <tr>
      <th>Item</th>
      <th>Color</th>
      <th>Price</th>
      <th>Amount</th>
    </tr>
    <tr class="" ng-repeat="item in $ctrl.shoppingCart.cart">
      <td class="inventory-text">{{item.name}}</td>
      <td class="inventory-text">{{item.color}}</td>
      <td>{{item.price | currency}}</td>
      <td id="center">{{item.amount}}</td>
    </tr>
  </table>
</div>
    <br>
    <div class="">
      <table>
        <tr>
          <td id="subtotal">Subtotal</td>
          <td>{{$ctrl.shoppingCart.subtotal | currency}}</td>
        </tr>
        <tr>
          <td id="total">Total</td>
          <td>{{$ctrl.shoppingCart.total | currency}}</td>
        </tr>
      </table>
    <a ui-sref="order" ><md-button id="add-btn" ng-click="$ctrl.confirm()">Confirm</md-button></a>
    </div>
</div>
</div>

</div>
