<div class="container">

  <div class="inventory-header" layout="column" layout-align="center center">
    <h1>Make your shopping list!</h1>
    <label for="search">Filter by Search Term</label>
    <input ng-model="SearchText" type="text" name="search" value="">
  </div>

  <!-- <div class="inventory-container" flex="60" ng-repeat="inventory in $ctrl.inventory | filter:SearchText" layout="row" layout-direction="center center">
    <div ng-class="{highlighted: hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
      <md-card class="flower-card" layout="column" layout-align="center center">
        <md-card-header class="flower-header" layout-padding>
          <md-card-header-text>
            <div class="md-title inventory-text" ng-model="$ctrl.item.name">{{inventory.name}}</div>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <h4 class="inventory-text" ng-model="$ctrl.item.color">Color: {{inventory.color}}</h4>
          <p> In Season Months:</p>
          <p ng-repeat="i in inSeason">{{i}}</p>
          <p>Out of Season Months:</p>
          <p> {{inventory.outSeason}}</p>
          <p>Sold in bunches of:</p>
          <p> {{inventory.soldAs}}</p>
          <p ng-model="$ctrl.item.price"> Cost:</p>
          <p> {{inventory.price}}</p>
        </md-card-content>
      <md-card-footer class="flower-footer" layout="row" layout-align="center center" layout-padding>
        <label for="amount">Amount</label>
        <input id="flower-amt" type="number" name="amount" ng-model="$ctrl.item.amount">
        <md-button id="add-btn" ng-click="$ctrl.add()">Add Item</md-button>
      </md-card-footer>
    </md-card>
    </div>
  </div> -->
<div layout="row">


  <div class="inventory-container" flex="70" layout="row" layout-direction="center center">
      <table>
        <tr>
          <th>Item Name</th>
          <th>Color</th>
          <th>Price</th>
          <th>Sold As</th>
          <th>Amount</th>
        </tr>
        <tr ng-repeat="inventory in $ctrl.inventory | filter:SearchText" ng-class="{highlighted: hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
          <td class="inventory-text" name="name">{{inventory.name}}</td>
          <td class="inventory-text" name="color">{{inventory.color}}</td>
          <td name="price">{{inventory.Price}}</td>
          <td >{{inventory.soldAs}}</td>
          <td><input id="flower-amt" type="number" name="amount" ng-model="amount"></td>
          <td><md-button id="add-btn" ng-click="$ctrl.add(amount, inventory)">Add Item</md-button></td>
        </tr>
      </table>
  </div>

  <div >
    <p>shopping list</p>
  </div>

    <table flex="30">
      <tr>
        <th>Item</th>
        <th>Color</th>
        <th>Price</th>
        <th>Amount</th>
      </tr>
      <tr class="" ng-repeat="item in $ctrl.shoppingCart">
        <td>{{item.name}}</td>
        <td>{{item.color}}</td>
        <td>{{item.price}}</td>
        <td>{{item.amount}}</td>
      </tr>
    </table>

</div>

</div>
