

<div layout="column" layout-align="center center">
<div class="inventory-container" layout="column" layout-direction="center center">
  <table>
    <tr>
      <th id="item">Item Name</th>
      <th>Color</th>
      <th>Sold As</th>
      <th>Price</th>
      <th>Amount</th>
    </tr>

  <tr class="" ng-repeat="item in $ctrl.currentOrder.cart">
    <td class="inventory-text">{{item.name}}</td>
    <td class="inventory-text">{{item.color}}</td>
    <td>{{item.soldAs}}</td>
    <td>{{item.price | currency}}</td>
    <td>{{item.amount}}</td>
  </tr>
  </table>
  <div class="">
    <table>
      <tr>
        <td id="subtotal">Total</td>
        <td>{{$ctrl.currentOrder.subtotal | currency}}</td>
      </tr>
    </table>
  </div>

</div>

<div layout="row" layout-direction="center center">
<md-button id="add-btn" ng-csv="$ctrl.wholesaleOrder" csv-header="$ctrl.getHeaders()" filename="wholesaler.csv" ng-click="$ctrl.exportWholesale()">Export to Wholesaler</md-button>

<a ui-sref="personal"><md-button id="add-btn">Prep Personal Export</md-button></a>
</div>
</div>
